In [7]:
import pandas as pd
a = [1,2,7,4]
arr = pd.Series(a,index=["w","x", "y", "z"])
print(arr)

w    1
x    2
y    7
z    4
dtype: int64

In [8]:
arr['w']

1

In [12]:
student = {
  "roll": [1973, 1945, 1990,2001,2005],
  "subject": ['cc','cd','spm','da','ml']
}
ans = pd.DataFrame(student)
print(ans)

   roll subject
0  1973      cc
1  1945      cd
2  1990     spm
3  2001      da
4  2005      ml

In [13]:
print(ans.loc[0])

roll       1973
subject      cc
Name: 0, dtype: object

In [14]:
data = pd.read_csv("Salaries.csv")
print(data)

         rank discipline   phd  service     sex    salary
0        Prof          B  56.0       49    Male  186960.0
1        Prof          A  12.0        6    Male   93000.0
2        Prof          A  23.0       20    Male  110515.0
3        Prof          A  40.0       31    Male  131205.0
4        Prof          B  20.0       18    Male  104800.0
..        ...        ...   ...      ...     ...       ...
73       Prof          B  18.0       10  Female  105450.0
74  AssocProf          B  19.0        6  Female  104542.0
75       Prof          B  17.0       17  Female  124312.0
76       Prof          A  28.0       14  Female  109954.0
77       Prof          A  23.0       15  Female  109646.0

[78 rows x 6 columns]

In [19]:
columnhead = list(data.columns)
print(columnhead)

['rank', 'discipline', 'phd', 'service', 'sex', 'salary']

In [33]:
print(data.head(10))
print("\ntail\n")
print(data.tail(10))

        rank discipline   phd  service   sex    salary
0       Prof          B  56.0       49  Male  186960.0
1       Prof          A  12.0        6  Male   93000.0
2       Prof          A  23.0       20  Male  110515.0
3       Prof          A  40.0       31  Male  131205.0
4       Prof          B  20.0       18  Male  104800.0
5       Prof          A  20.0       20  Male  122400.0
6  AssocProf          A  20.0       17  Male   81285.0
7       Prof          A  18.0       18  Male       NaN
8       Prof          A  29.0       19  Male   94350.0
9       Prof          A  51.0       51  Male   57800.0

tail

         rank discipline   phd  service     sex    salary
68   AsstProf          A   4.0        2  Female   77500.0
69       Prof          A  28.0        7  Female  116450.0
70   AsstProf          A   8.0        3  Female   78500.0
71  AssocProf          B  12.0        9  Female   71065.0
72       Prof          B  24.0       15  Female  161101.0
73       Prof          B  18.0       10  Female  105450.0
74  AssocProf          B  19.0        6  Female  104542.0
75       Prof          B  17.0       17  Female  124312.0
76       Prof          A  28.0       14  Female  109954.0
77       Prof          A  23.0       15  Female  109646.0

In [34]:
print(data.agg({'salary':['max','min']}))

       salary
max  186960.0
min   57800.0